@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --foreground: #171717;
  --background: #ffffff;
}

[data-theme="dark"] {
  --foreground: #ffffff;
  --background: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

.perspective-1000 {
  perspective: 1000px;
}

.glass-card {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
}

.dark .glass-card {
  background: rgba(17, 24, 39, 0.7);
  border-color: rgba(255, 255, 255, 0.1);
}

.perspective-1000 {
  perspective: 1000px;
}

.bg-grid-small-black {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(0 0 0 / 0.1) 1px, transparent 1px);
}

.bg-grid-small-white {
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgb(255 255 255 / 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(255 255 255 / 0.1) 1px, transparent 1px);
}

.perspective-1000 {
  perspective: 1000px;
}

.perspective-3000 {
  perspective: 3000px;
}

.glass-morphism {
  background: rgba(207, 222, 255, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.07);
}

.dark .glass-morphism {
  background: rgba(14, 18, 26, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

.bg-grid-black {
  background-size: 30px 30px;
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(0 0 0 / 0.1) 1px, transparent 1px);
}

.bg-grid-white {
  background-size: 30px 30px;
  background-image: linear-gradient(
      to right,
      rgb(255 255 255 / 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(255 255 255 / 0.1) 1px, transparent 1px);
}
